@using WebApplication1.Entities
@model List<WebApplication1.Models.NewSiteModel>

@{
    ViewBag.Title = "Sites";
}
<h2>@ViewBag.Title.</h2>
<table class="sites">
    <tr>
        <td  width="100px" class="site-name">Site Name</td>
        <td  width="160px" class="site-url">Site Url</td>
        <td  width="120px" class="site-count">Pages count</td>
        <td  width="100px" class="site-result-link">Result</td>
        <td  width="100px" class="site-screen-link">Screenshot</td>
    </tr>
    @foreach (var site in Model)
    {

        <tr>
            <td width="100px" class="site-name"><b>@site.Name</b></td>
            <td width="160px" class="site-url">@site.Url</td>
            <td width="120px" class="site-count">@Html.ActionLink(site.CountOfPages.ToString(), "SitePages", new { SiteId = site.SiteId })</td>
            <td width="100px" class="site-result-link"><a class="show-tests" href="/Home/Tests">Test result</a></td>
            <td width="100px"class="site-screen-link">@Html.ActionLink("Screenshots", "Screenshots", new { SiteId = site.SiteId })</td>
        </tr>

        @*<ul class="site-name">

                <li>
                    <a class="sitename-link" style="width:80%" href="#">@site.Url</a><span style="float: right">@site.Name</span>
                    <ul style="display: none">
                        @if (site.Links.Any())
                        {
                            foreach (var link in site.Links)
                            {
                                <li>@link.ValueUrl</li>
                            }

                        }
                    </ul>
                </li>
            </ul>*@
    }
</table>
@Html.ActionLink("Add new site", "AddNewSite", "Home", new { @class = "btn-primary btn", @style="margin-top: 30px" })

@section scripts{
    <script>
        $(document).ready(function () {
            $(".sitename-link").click(function (e) {
                e.preventDefault();

                $(this).siblings("ul").toggle();
            });

        });
    </script>
}
