@using WebApplication1.Entities
@model List<WebApplication1.Entities.Site>

@{
    ViewBag.Title = "Sites";
}
<h2>@ViewBag.Title</h2>
@if (Model.Count == 0)
{
    <h3 class="text-warning">
            Please add a new site. 
        </h3>
        @Html.ActionLink("Add Site", "AddNewSite", "Home", null, new { @class = "btn btn-primary" })
}
else
{
  


<table class="sites">
    <thead>
    <tr>
        <td class="site-name">Site Name</td>
        <td class="site-url">Site Url</td>
        <td class="site-count">Pages count</td>
        <td class="site-result-link">Result</td>
        <td class="site-screen-link">Screenshot</td>
        <td class="delete-site">Delete Site</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var site in Model)
        {

            <tr>
                <td class="site-name"><b>@site.Name</b></td>
                <td class="site-url">@site.Url</td>
                <td class="site-count"><b>@Html.ActionLink(site.Links.Count.ToString(), "SitePages", new { SiteId = site.Id })</b></td>
                <td class="site-result-link">
                    @if (site.Tests.Any())
                {
                    <a class="show-tests btn btn-primary" href="/Home/TestResult?SiteId=@site.Id">Test result</a>
                }
                else
                {
                    @Html.ActionLink("=>Tests", "Tests", "Home",null, new { @class = "btn btn-primary" })
                }
            </td>
            <td class="site-screen-link">@Html.ActionLink("Screenshots", "Screenshots", new { SiteId = site.Id} , new { @class = "btn-primary btn" })</td>
            <td class="delete-site">@Html.ActionLink("Remove", "RemoveSite", "Home", new { siteId = site.Id }, new { @class = "btn-danger btn" })</td>

        </tr>

        @*<ul class="site-name">

                <li>
                    <a class="sitename-link" style="width:80%" href="#">@site.Url</a><span style="float: right">@site.Name</span>
                    <ul style="display: none">
                        @if (site.Links.Any())
                        {
                            foreach (var link in site.Links)
                            {
                                <li>@link.ValueUrl</li>
                            }

                        }
                    </ul>
                </li>
            </ul>*@
        }
    </tbody>

</table>
@Html.ActionLink("Add new site", "AddNewSite", "Home", new { @class = "btn-primary btn", @style="margin-top: 30px" })
}

@section scripts{
    <script>
        $(document).ready(function () {
            $(".sitename-link").click(function (e) {
                e.preventDefault();

                $(this).siblings("ul").toggle();
            });

        });
    </script>
}
